* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Display", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  /* font-family: "Roboto" sans-serif; */
  padding-top: 60px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin: 0 auto; */
  position: fixed;
  z-index: 10;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  height: fit-content;
  box-shadow: 1px 1px 5px 2px rgb(210, 207, 207);
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  /* background-color: green; */
}
li {
  text-align: center;
  padding: 17px 17px;
}
.logo {
  height: 23px;
  width: 90px;
  margin-top: 10px;
  object-fit: contain;
  /* background-color: #188038; */
}
.logoContainer {
  padding-top: 10px;
  /* padding-bottom: 5px; */
}

.angleDown {
  margin-left: 8px;
}

.businessMenu {
  position: relative;
}

.businessMenu:hover .dropdownBusiness {
  display: block;
}

.businessMenu:hover .add {
  rotate: z 180deg;
  transition: all 200ms ease-in-out;
}

.dropdownBusiness {
  position: absolute;
  display: none;
  top: 101%;
  left: 15px;
  background-color: white;
  border: solid 1px rgb(215, 214, 214);
  width: 150px;
  border-radius: 10px;
}

.dpBox {
  border-bottom: solid 1px #dad8d8;
  padding: 15px 0px;
  text-align: center;
  font-size: 15px;
  color: #595757;
}

.Profile {
  font-size: 22px;
  color: #5f6368;
}
.other {
  font-size: 15px;
  color: #000;
  padding-bottom: 20px;
  border-bottom: solid 2px #1967d2;
}
.the-rest {
  font-size: 15px;
  color: #5f6368;
}
a {
  text-decoration: none;
  line-height: 21px;
  letter-spacing: 0.3px;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.sign {
  color: #1967d2;
  font-size: 17px;

  font-weight: 200px;
}
button {
  background-color: #1a73e8;
  width: 145px;
  height: 47px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
}

/* FIRST CONTAINER */

.container-1 {
  margin: 4% 23% 0 12%;
  /* margin-bottom: 20%; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  position: relative;
  z-index: 0;
}
.sub-container-1 {
  /* flex: 1; */
  margin-right: 20px;
  /* background-color: green; */
  width: 400px;
}
.sub-container-1 h1 {
  text-align: left;
  align-items: flex-start;
  /* width: 60%; */
  margin: 0;
  font-size: 48px;
  letter-spacing: -0.5px;
  line-height: 56px;
  color: #202124;
  font-weight: 400;
}
.sub-container-1 p {
  /* width: 60%; */
  text-align: left;
  margin-bottom: 25px;
}
.card {
  background-color: #fff;
  /* background-color:  pink; */
  border-radius: 20px;
  overflow: hidden;
  /* padding: 20px; */
  margin: 20px;
  width: 290px;
  height: 570px;
  z-index: 2;
  position: relative;
  box-shadow: 10px 40px 70px rgba(126, 124, 124, 0.2),
    5px 5px 20px rgba(125, 122, 122, 0.1);
  border: 1px solid #dfe1e2;
}
.card img {
  width: 100%;
  /* height: 191.325px; */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.card-title {
  font-size: 15px;
  line-height: 19px;
  color: #202124;
  letter-spacing: 0.1px;
  text-align: left;
  margin-left: 2%;
}
.card-description {
  font-size: 12px;
  line-height: 16px;
  color: #70757a;
  text-align: left;
  margin-left: 2%;
}
.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2%;
}
.list p {
  font-size: 10px;
  line-height: 8px;
  color: #5f6368;
  letter-spacing: 0.5px;
}
.hr-card {
  color: #5f6368;
  /* border: none;  */
  opacity: 0.5;
  width: 100%;
  margin-top: 5%;
}
.other-icons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
}
.other-icons p {
  font-size: 9px;
  line-height: 13.1px;
  letter-spacing: 0.6px;
  color: #1967d2;
  margin-top: 5%;
  align-items: center;
}
.location {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
  padding: 5px;
}
.location img {
  height: 69.2px;
  width: 65px;
}
.location p {
  font-size: 13px;
  color: #202124;
  line-height: 16px;
  letter-spacing: 0px;
  width: 100%;
  margin: 0;
}
.time {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 20px;
  margin-left: 20px;
}
.time i {
  margin-right: 5px;
}

.time .coloured {
  font-size: 13px;
  color: #188038;
  line-height: 16px;
  margin: 0;
}
.time p {
  font-size: 13px;
  line-height: 16px;
  color: #202124;
  margin: 0;
}
.last-card-part {
  padding: 5px;
  display: flex;
  align-items: center;
  margin-left: 20px;

  gap: 20px;
}
.last-card-part i {
  margin-right: 5px;
}
.last-card-part p {
  margin: 0;
}
/* ANIMATING THE CARD VWITH THE ORBIT BALLS */
.orbit-card-wrapper {
  position: relative;
  width: 310px;
  height: 600px;
}
.orbit-card-container {
  position: absolute;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}
.orbit-card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  margin-top: -250px;
  margin-left: -240px;
  border: 2px dotted #dfe1e2;
  border-radius: 50%;
}
.orbit-ball-card {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform-origin: 250px center;
}

.orbit-ball-card-1 {
  background-color: yellow;
  animation: orbit-card 20s linear infinite;
}
.orbit-ball-card-2 {
  background-color: green;
  animation: orbit-card 20s linear infinite;
  animation-delay: 12s;
}
@keyframes orbit-card {
  0% {
    transform: rotate(0deg) translateX(250px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(250px) rotate(-360deg);
  }
}
/* SECTION 2 */
.container-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*align-items: center;
    align-content: center;*/
  margin: 10% 24% 0 24%;
  gap: 10%;
}
.container-3 h2 {
  font-weight: 500;
}
.free,
.easy,
.personalised {
  width: 50px;
  height: 50px;
  margin-left: 40%;
}
h2 {
  font-size: 20px;
  color: #202124;
  /* font-weight: light; */
  line-height: 28px;
  letter-spacing: 0.1px;
  text-align: center;
  margin-top: 5%;
}
p {
  font-size: 16px;
  color: #5f6368;
  line-height: 24px;
  text-align: center;
  margin-top: 5%;
}
center {
  margin-top: 5%;
  position: relative;
  /* height: 100vh; */
  /*overflow-y: scroll; */
}
.dot {
  height: 2px;
  width: 2px;
  background-color: #80868b;
  border-radius: 50%;
  display: block;
  margin: 8px;
}
.red {
  height: 10px;
  width: 10px;
  background-color: #ea4335;
  border-radius: 50%;
  display: inline-block;
  margin: 0px;
}

/* THIRD PART */

.description {
  margin-top: 120px;
}

.first-impression {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.first-impression h2 {
  color: #202124;
  line-height: 44px;
  font-size: 36px;
  letter-spacing: -0.3px;
  font-weight: 380;
}
.first-impression p {
  margin-top: 8px;
  /* background-color: #188038; */
  width: auto;
}
.desc-1 h2,
.desc-1 p,
.desc-2 h2,
.desc-2 p,
.desc-3 h2,
.desc-3 p {
  text-align: left;
  align-items: flex-start;
  /* margin: 0   ; */
}
.desc-1,
.desc-2,
.desc-3 {
  width: 400px;
}
.desc-1 h2,
.desc-2 h2,
.desc-3 h2,
.definition-1 h2,
.definition-2 h2,
.definition-3 h2,
.definition-4 h2 {
  font-weight: 500;
}
.big-container {
  display: flex;
  padding: 8% 10% 20% 12%;
  gap: 20%;
  margin: 0;
}
.border-transition-1 {
  border-left: 2px solid #c4c3c3;
  margin-top: 25px;

  animation: border-transition1 12s ease-in-out infinite;
}
.border-transition-2 {
  border-left: 2px solid #c4c3c3;
  margin-top: 25px;
  animation: border-transition2 12s ease-in-out infinite;
}
.border-transition-3 {
  border-left: 2px solid #c4c3c3;
  margin-top: 25px;
  animation: border-transition3 12s ease-in-out infinite;
}

.one,
.two,
.three {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

/* ANIMATING THE <P> AND THE IMAGES TO BE IN SYNC */
.ads img {
  position: absolute;
  opacity: 0;
  z-index: 0;
  transition: opacity 10s ease-in-out;
}
.ads img:nth-of-type(1) {
  animation: change 12s ease-in-out infinite;
}
.desc-1 p {
  animation: change-p 12s ease-in-out infinite;
}
.ads img:nth-of-type(2) {
  animation: change-2 12s ease-in-out infinite;
}
.desc-2 p {
  animation: change-2-p 12s ease-in-out infinite;
}
.ads img:nth-of-type(3) {
  animation: change-3 12s ease-in-out infinite;
}
.desc-3 p {
  animation: change-3-p 12s ease-in-out infinite;
}

@keyframes change-p {
  0%,
  33% {
    z-index: 1;
    opacity: 1;
    visibility: visible;
    height: auto;
    margin-top: 8px;
    padding-top: 8px;
  }
  34%,
  100% {
    height: 0;
    visibility: hidden;
    margin-top: 0;
    padding-top: 0;

    opacity: 0;
    z-index: 0;
  }
}

@keyframes change-2-p {
  0%,
  33% {
    height: 0;
    visibility: hidden;
    margin-top: 0;
    padding-top: 0;

    opacity: 0;
    z-index: 0;
  }
  34%,
  66% {
    z-index: 1;
    opacity: 1;
    visibility: visible;
    height: auto;
    margin-top: 8px;
    padding-top: 8px;
  }
  67%,
  100% {
    height: 0px;
    visibility: hidden;
    margin-top: 0;
    padding-top: 0;

    opacity: 0;
    z-index: 0;
  }
}

@keyframes change-3-p {
  0%,
  66% {
    height: 0px;
    visibility: hidden;
    margin-top: 0;
    padding-top: 0;

    opacity: 0;
    z-index: 0;
  }
  67%,
  100% {
    z-index: 1;
    opacity: 1;
    visibility: visible;
    height: auto;
    margin-top: 8px;
    padding-top: 8px;
  }
}
.Photos {
  width: 449.6375px;
  height: 700px;
  margin-top: -5%;
}

.btn-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}
@keyframes border-transition1 {
  0%,
  33% {
    border-color: #4285f4;
  }
  34%,
  100% {
    border-color: #c4c3c3;
  }
}
@keyframes border-transition2 {
  0%,
  33% {
    border-color: #c4c3c3;
  }
  34%,
  66% {
    border-color: #4285f4;
  }
  67%,
  100% {
    border-color: #c4c3c3;
  }
}

@keyframes border-transition3 {
  0%,
  66% {
    border-color: #c4c3c3;
  }
  67%,
  100% {
    border-color: #4285f4;
  }
}
@keyframes change {
  0%,
  33% {
    opacity: 1;
    z-index: 1;
  }
  34%,
  100% {
    /* height: 0;
    visibility: 0; */
    opacity: 0;
    z-index: 0;
  }
}

@keyframes change-2 {
  0%,
  33% {
    opacity: 0;
    z-index: 0;
  }
  34%,
  66% {
    z-index: 1;
    opacity: 1;
  }
  67%,
  100% {
    opacity: 0;
    z-index: 0;
  }
}

@keyframes change-3 {
  0%,
  66% {
    opacity: 0;
    z-index: 0;
  }
  67%,
  100% {
    opacity: 1;
    z-index: 1;
  }
}
/* THE SECOND PART WITH ALTERNATING IMAGES */
.description-2 {
  margin-top: 100px;
}
.second-impression {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* background-color: #188038; */
  margin-top: -100px;
}
.big-container-2 {
  display: flex;
  padding: 5% 20% 5% 15%;
  justify-content: space-between;
  /* background-color: #188038; */
}
.ads-2 {
  align-items: center;
}
.second-impression h2 {
  color: #202124;
  line-height: 44px;
  font-size: 36px;
  letter-spacing: -0.3px;
  font-weight: 380;
}
.second-impression p {
  margin-top: 8px;
  /* background-color: #188038; */
  margin: auto;
}
.definition-1 h2,
.definition-1 p,
.definition-2 h2,
.definition-2 p,
.definition-3 h2,
.definition-3 p,
.definition-4 h2,
.definition-4 p {
  text-align: left;
  align-items: flex-start;
  /* margin: 0; */
}
.definition-1,
.definition-2,
.definition-3,
.definition-4 {
  width: 400px;
  /* background-color: #188038; */
}
.four,
.five,
.six,
.seven {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.other-borders-1 {
  border-left: 2px solid #c4c3c3;
  margin-top: 25px;

  animation: border-transition4 16s ease-in-out infinite;
}
.other-borders-2 {
  border-left: 2px solid #c4c3c3;
  margin-top: 25px;
  animation: border-transition5 16s ease-in-out infinite;
}
.other-borders-3 {
  border-left: 2px solid #c4c3c3;
  margin-top: 25px;
  animation: border-transition6 16s ease-in-out infinite;
}
.other-borders-4 {
  border-left: 2px solid #c4c3c3;
  margin-top: 25px;
  animation: border-transition7 16s ease-in-out infinite;
}

@keyframes border-transition4 {
  0%,
  25% {
    border-color: #4285f4;
    height: 120px;
  }
  26%,
  100% {
    border-color: #c4c3c3;
    height: 50px;
  }
}

@keyframes border-transition5 {
  0%,
  25% {
    border-color: #c4c3c3;
    height: 50px;
  }
  26%,
  50% {
    border-color: #4285f4;
    height: 120px;
  }
  51%,
  100% {
    border-color: #c4c3c3;
    height: 50px;
  }
}

@keyframes border-transition6 {
  0%,
  50% {
    border-color: #c4c3c3;
    height: 50px;
  }
  51%,
  75% {
    border-color: #4285f4;
    height: 120px;
  }
  76%,
  100% {
    border-color: #c4c3c3;
    height: 50px;
  }
}
@keyframes border-transition7 {
  0%,
  75% {
    border-color: #c4c3c3;
    height: 50px;
  }
  76%,
  100% {
    border-color: #4285f4;
    height: 120px;
  }
}
/* ANIMATING THE SECOND PART <P> AND THE IMAGES TO BE IN SYNC */
.ads-2 img {
  position: absolute;
  opacity: 0;
  z-index: 0;
  transition: opacity 10 ease-in-out;
}
.ads-2 img:nth-of-type(1) {
  animation: Second-change 16s linear infinite;
}
.definition-1 p {
  animation: Second-change-p 16s linear infinite;
}
.ads-2 img:nth-of-type(2) {
  animation: Second-change-2 16s linear infinite;
}
.definition-2 p {
  animation: Second-change-p-2 16s linear infinite;
}
.ads-2 img:nth-of-type(3) {
  animation: Second-change-3 16s linear infinite;
}
.definition-3 p {
  animation: Second-change-p-3 16s linear infinite;
}
.ads-2 img:nth-of-type(4) {
  animation: Second-change-4 16s linear infinite;
}
.definition-4 p {
  animation: Second-change-p-4 16s linear infinite;
}
@keyframes Second-change-p {
  0%,
  25% {
    opacity: 1;
    z-index: 1;
  }
  26%,
  100% {
    height: 0;
    opacity: 0;
  }
}
@keyframes Second-change-p-2 {
  0%,
  25% {
    height: 0;
    opacity: 0;
  }
  26%,
  50% {
    opacity: 1;
    z-index: 1;
  }
  51%,
  100% {
    opacity: 0;
    height: 0;
    z-index: 0;
  }
}

@keyframes Second-change-p-3 {
  0%,
  50% {
    height: 0;

    opacity: 0;
    z-index: 0;
  }
  51%,
  75% {
    opacity: 1;
    z-index: 1;
  }
  76%,
  100% {
    height: 0;

    opacity: 0;
    z-index: 0;
  }
}
@keyframes Second-change-p-4 {
  0%,
  75% {
    opacity: 0;
    z-index: 0;
    height: 0;
  }
  76%,
  100% {
    opacity: 1;
    z-index: 1;
  }
}

@keyframes Second-change {
  0%,
  25% {
    opacity: 1;
    z-index: 1;
  }
  26%,
  100% {
    opacity: 0;
    z-index: 0;
  }
}

@keyframes Second-change-2 {
  0%,
  25% {
    opacity: 0;
    z-index: 0;
  }
  26%,
  50% {
    opacity: 1;
    z-index: 1;
  }
  51%,
  100% {
    opacity: 0;
    z-index: 0;
  }
}

@keyframes Second-change-3 {
  0%,
  50% {
    opacity: 0;
    z-index: 0;
  }
  51%,
  75% {
    opacity: 1;
    z-index: 1;
  }
  76%,
  100% {
    opacity: 0;
    z-index: 0;
  }
}
@keyframes Second-change-4 {
  0%,
  75% {
    opacity: 0;
    z-index: 0;
  }
  76%,
  100% {
    opacity: 1;
    z-index: 1;
  }
}
center {
  margin-top: 5%;
  position: relative;
  /* height: 100vh; */
  /*overflow-y: scroll; */
}
.dot {
  height: 2px;
  width: 2px;
  background-color: #80868b;
  border-radius: 50%;
  display: block;
  margin: 8px;
}
.green {
  height: 10px;
  width: 10px;
  background-color: #34a853;
  border-radius: 50%;
  display: inline-block;
  margin: 0px;
}

/*FOURTH PART  */
.container-27 {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: row;
  padding: 10% 15%;
  gap: 17%;
  position: relative;
  margin-top: 5%;
}
.Static-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

  position: sticky;
  top: 10%;
  left: 0;
  margin-top: 5%;

  width: 420px;
  height: fit-content;
}
.Static-text h2,
.container-35 h2 {
  color: #202124;
  line-height: 44px;
  font-size: 36px;
  letter-spacing: -0.3px;
  font-weight: 400;
  align-items: flex-start;
  text-align: left;
}
.Static-text p {

  text-align: left;
  margin-left: 0;
  margin-bottom: 18px;
}

.btn-3 {
  margin: 5%;
  text-align: left;
  margin-left: 0;
}

.container-29 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 20px;
}
.first-image-container,
.second-image-container,
.third-image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 40px;
  min-width: 300px;
}
.first-image-container h2,
.second-image-container h2,
.third-image-container h2 {
  margin-top: -40px;
  margin-bottom: -20px;
  font-weight: 200px;
}
.first-image-container p {
  width: 52%;
  text-align: left;
  margin-left: 0;
  margin-bottom: 18px;
}
.second-image-container p {
  width: 55%;
  text-align: left;
  margin-bottom: 18px;
}
.third-image-container p {
  width: 55%;
  text-align: left;
  margin-bottom: 18px;
}





/* FIFTH PART */




.container-33 {
  display: flex;
  flex-direction: row;
  gap: 20%;
  padding: 5% 10% 5% 10%;
  /* align-items: center; */
}
.container-34 {
  margin-top: 8%;
  margin-left: 12%;
  /* background-color: #188038; */
}
.container-34 img {
  z-index: 2;
  position: relative;
}
.container-35 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-top: 20%;
  /* background-color: #188038; */
  width: 400px;
  height: fit-content;
}

.container-35 p {
  
  text-align: left;
  margin-bottom: 18px;
}
.orbit-container {
  position: relative;
  width: 449.635px;
  height: 700px;
}
.orbit {
  position: absolute;
  top: 13%;
  left: 0;
  width: 440px;
  height: 450px;
  pointer-events: none;
  border: 3px dotted#dfe1e2;
  border-radius: 50%;
}
.orbit-ball {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: orbit 40s linear infinite;
}
@keyframes orbit {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateX(220px) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateX(220px)
      rotate(-360deg);
  }
}
/* SIXTH PART */
.mechanic {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 10%; */
  margin-bottom: 5%;
}
.orbit-container-2 {
  position: relative;
  width: 175.212px;
  height: 175.212px;
}
.orbit-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 220px;
  height: 220px;
  pointer-events: none;
  border: 3px dotted#dfe1e2;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.orbit-ball-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  /* transform: translate(-50%, -50%); */
  transform-origin: -110px;
  animation: orbit-2 50s linear infinite;
  margin-left: -10px;
  margin-top: -10px;
}
.orbit-ball-2:nth-child(1) {
  background-color: red;
}
.orbit-ball-2:nth-child(2) {
  background-color: green;
  animation-delay: 20s;
}
.Engineer {
  width: 175.212px;
  height: 175.212px;
  border-radius: 50%;
}
@keyframes orbit-2 {
  0% {
    transform: rotate(0deg) translateX(110px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(110px) rotate(-360deg);
  }
}
/* SEVENTH PART WITH A WATERMARK */
.container-37 {
  margin-top: 10%;
  /* background-color: #188038; */
  width: fit-content;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin:  0 auto;
  /* padding: 20px; */
  
}
.container-37 h2 {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.5px;
  color: #202124;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}
.container-watermark p {
  margin-top: -8px;
}
/* WATRMARKS */
.watermarks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* max-width: 1000px;
  width: 100%; */
  box-sizing: border-box;
  padding: 20px;
  /* margin-left: 10px;
  margin-right: 10px; */
  margin: 15%;
}
.watermark {
  opacity: 0.5;
  font-size: 167px;
  line-height: 136px;
  letter-spacing: 0.1px;
  color: #e8eaed;
  font-weight: bold;
  padding: 10px;
}
.watermark-container {
  display: flex;
  align-items: center;
  margin-top: -150px;
}
.watermark-text {
  font-size: 16px;
  line-height: 24px;
  color: #5f6368;
  margin-top: 10%;
}
.watermark-text h2 {
  justify-content: flex-start;
  text-align: left;
  margin-left: -35px;
  font-size: 28px;
  line-height: 36px;
  color: #202124;
  letter-spacing: 0.1px;
  font-weight: 548;
}
.watermark-text p {
  margin-left: -32px;
  justify-content: flex-start;
  text-align: left;
}
.btn-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}
.yellow {
  height: 10px;
  width: 10px;
  background-color: #fbbc04;
  border-radius: 50%;
  display: inline-block;
  margin: 0px;
}

/* SECOND LAST PART */
.container-38 h2 {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.3px;
  color: #202124;
  font-weight: 380;
  margin-bottom: 5%;
}
.content-hr {
  color: #dadce0;
  width: auto;
  opacity: 0.5;
  width: 65%;
  /* align-items: center; */
  margin-left: 20%;
  margin-right: 20%;
}
.drop-down {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-top: 40px;
  padding-bottom: 40px;
  margin-right: 20%;
  margin-left: 20%;
}
.drop-down h3 {
  font-size: 20px;
  line-height: 28px;
  color: #1967d2;
  align-items: flex-start;
  text-align: left;
  font-weight: 380;
}
.drop-down p {
  font-size: 16px;
  line-height: 24px;
  color: #5f6368;
  width: 810px;
  align-items: flex-start;
  text-align: left;
  margin-top: -1px;
  display: none;
}
.drop-down a {
  color: #1967d2;
  margin-top: 10px;
  display: none;
}
.drop-down:hover a,
.drop-down:hover p {
  display: block;
}
.drop-down a:hover {
  text-decoration: none;
  color: #174ea6;
}
/* .btn-5{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.btn-5 button {
  color: #174ea6;
  background-color: #fff;
  font-size: 16px;
  line-height: 24px;
  border: 2px solid #246ede;
  justify-content: center;
  
  width: 150px;
  height: 40px;
} */

/* FOOTER */
.footer {
  background-color: #f8f9fa;
  margin-top: 10%;
}
.icons {
  display: flex;
  gap: 10px;
  margin-right: 10%;
  margin-left: 12%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 40px;
  padding-bottom: 60px;
}
.first-sec h2,
.first-sec p,
.second-sec h2,
.second-sec p,
.third-sec h2,
.third-sec p,
.fouth-sec h2,
.fouth-sec p,
.fifth-sec h2,
.fifth-sec p {
  text-align: left;
  align-items: flex-start;
}
.first-sec,
.second-sec,
.third-sec,
.fouth-sec,
.fifth-sec {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.last-footer {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 350px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.first-links,
.second-links {
  display: flex;
  flex-direction: row;
  gap: 60px;
}
.footer-hr {
  color: #dadce0;
  width: auto;
  opacity: 0.5;
  width: 80%;
  margin-left: 10%;
  margin-right: 30%;
}
.last-footer {
  margin-right: 10%;
  margin-left: 10%;
}





/* MEDIA QUERIES */





@media (max-width: 600px) {
  nav{
    flex-direction: row;
    /* align-items: center; */
    /* display: none; */
    /* width: 100%; */
  
  }
  
  li{
    width: 100%;
    padding: 10px 0;
  }
  .logo{
    margin: 0 auto;
  }
  .logoContainer{
    padding: 0;
  }
  button{
   
    display: none;
  }
  .the-rest , .other , .sign, .Profile{
    display: none;
  }
  
  
  /* FIRST SECTION */



  .container-1{
    margin: 4% 5%;
    flex-direction: column;
    align-items: center;
  }
  .sub-container-1{
    margin: 0;
    width: 100%;

  }
  .sub-container-1 h1{
    font-size: 32px;
    line-height: 40px;

  }
  .card{
    margin: 10px;

  }
  .card img{
    height: auto;

  }
  .orbit-card-wrapper{
    width: 100%;
    height: auto;
  }
  .orbit-card{
    /* width: 100%;
    height: auto;
    margin-top: -50%;
    margin-left: auto;
    margin-right: auto; */
    display: none;
  }
  .orbit-ball-card{
    display: none;
  }




/* SECOND SECTION */



.container-3 {
  flex-direction: column;
 align-items: center;
  margin: 10% 5%;
  gap: 5%;
}

.free,
.easy,
.personalised {
    /* margin-left: 0%; */
  margin-bottom: 10px;
}
.ads{
  display: none;
}
.btn-2{
  display: none;
  /* width: 100%; */
  
}


/* THIRD SECTION */

.desc-1 , .desc-2 , .desc-3, .definition-1 , .definition-2, .definition-3 , .definition-4{
  width: 100%;
}
.description{
  margin-top: 5%;
}
.second-impression{
  margin-top: 10%;
}
.big-container , .big-container-2{
  flex-direction: column;
  padding: 5%;
  gap: 5%;
}
.one , .two , .three , .four , .five , .six , .seven{

  gap: 10px;
}
.Photos{
  width: 100%;
  height: auto;
}
.ads-2{
  display: none;
}


/* FOURTH PART */



.container-27 {
 
  flex-direction: column;
  padding: 5%;
  gap: 10%;
  
}
.Static-text {
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  text-align: center;
  align-items: center;
}
.Static-text h2,
.container-35 h2 {
  line-height: 32px;
  font-size: 24px;
  
}
.Static-text p {

  text-align: center;
  margin-left: 0;
  
}

.btn-3 {
 
  text-align: center;
  margin-left: 0;
  width: 100%;
}

.container-29 {
  align-items: center;
}
.first-image-container,
.second-image-container,
.third-image-container {
  
 align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.first-image-container p {
  width: 100%;
}
   /* FIFTH PART */




.container-33{
  flex-direction: column;
  gap: 5%;
  padding: 5% 10%;
}
 .container-34{
  margin-left: 12%;
 }
 .container-35{
  align-items: center;
  text-align: center;
  margin-top: 20%;
  width: 100%;
 }

.container-35 p {
  text-align: center;
  margin-bottom: 18px;
}
.orbit-container{
  width: 100%;
  height: auto;
  margin-top: 5%;
}
.orbit{
  position: absolute;
  top: 13%;
  left: 8%;
  width: 250px;
  height: 255px;
  pointer-events: none;
  border: 3px dotted#dfe1e2;
  border-radius: 50%;
}
.orbit-ball{
  top: 13%;
  left: 8%;
  /* transform: translate(-10%, -50%); */
  display: none;
  
}



/* SIXTH PART */


.orbit-container-2, .Engineer{
  width: 100px;
  height: 100px;
}
.orbit-2{
  width: 140px;
  height: 140px;
}
.orbit-ball-2{
  transform-origin: -70px;
}

@keyframes orbit-2 {
  0% {
    transform: rotate(0deg) translateX(70px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(70px) rotate(-360deg);
  }
}



/* SEVENTH PART */


.container-37{
  margin-top: 5%;
  width: 90%;
  
}

.container-37 h2{
  font-size: 24px;
  line-height: 32px;
  margin-top: 10px;
}
/* .container-37 p{
  align-items: flex-start;
  text-align: left;
  text-align: center;

} */
.watermarks{
  margin: 5%;
  flex-direction: column;
 gap: 100px;
}
.watermark{
  /* font-size: 80px;
  line-height: 60px; */
  display: none;
  /* flex-direction: column;
  gap: 20%; */
 
 

}
.watermark-container{
  margin-top: -50px;
  /* flex-direction: row; */
  
  /* width: 100%; */


}
.watermark-text{
  /* font-size: 14px;
  line-height: 20px; */
  margin-top: 5%;
  
}
.watermark-text h2{
  font-size: 20px;
  line-height: 28px;
  margin-left: 0;
  text-align: center;
}
.watermark-text p{
  margin-left: 0;
  text-align: center;
}
.btn-4{
  margin-top: 10px;
  width: 100%;
}





/* FOOTER */

.icons{
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: flex-start; */
}
.footer-container{
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}
.fifth-sec, .second-sec , .third-sec , .fouth-sec , .fifth-sec{
  /* text-align: center; */
  text-align: left;
  align-items: flex-start;
}
.first-links , .second-links{
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.last-footer{
  display: none;
}


}


@media (min-width: 601px) and (max-width: 1024px){
  nav{
    flex-direction: row;
    justify-content: space-between;
   width: 100%;
   
  }
  ul{
    flex-direction: row;
  }
  li{
    padding: 10px 10px;
  }
  .logo{
    height: 30px;
    width: 100px;
  }
  button {
    width: 160px;
    height: 50px;
    /* display: none; */
    
  }
  .sign{
    display: none;
  }
  
  /* FIRST SECTION */

  .container-1{
    margin: 4% 10%;
    flex-direction: column;
    align-items: center;
  }
  .sub-container-1{
    margin: 0;
    width: 100%;

  }
  .sub-container-1 h1{
    font-size: 40px;
    line-height: 48px;

  }
  .card{
    width: 80%;
    margin: 20px 0;
    height: auto;

  }
  .card img{
    height: auto;

  }
  .orbit-card-wrapper{
    width: 90%;
    height: auto;
  }
  

  /*  SECOND SECTION */


  
.container-3 {
  margin: 10% 10% ;
  gap: 8%;
}



/* THIRD SECTION */

.desc-1 , .desc-2 , .desc-3, .definition-1 , .definition-2, .definition-3 , .definition-4{
  width: 80%;
}
.big-container , .big-container-2{
 
  padding: 5% 8%;
  gap: 10%;
}
.one , .two , .three , .four , .five , .six , .seven{

  gap: 15px;
}
.Photos{
  width: 80%;
  height: auto;
}
.ads, .ads-2{
  display: none;
}
  

/* FOURTH PART */


.container-27 {
 
  flex-direction: column;
  padding: 7% 12%;
  gap: 12%;
  
}
.Static-text {
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  text-align: left;
  align-items: flex-start;
}
.Static-text h2,
.container-35 h2 {
  line-height: 36px;
  font-size: 28px;
  
}
.Static-text p {

  text-align: left;
  margin-left: 0;
  
}

.btn-3 {
 
  text-align: left;
  margin-left: 0;
}

.container-29 {
  align-items: center;
}
.first-image-container,
.second-image-container,
.third-image-container {
  
 align-items: flex-start;
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
}

.first-image-container p {
  width: 80%;
}


/* FIFTH PART */



.container-33{
  flex-direction: column;
  gap: 8%;
  padding: 5% 10%;
  align-items: center;
}
 .container-34{
  margin-left: 12%;
  margin-top: 0;
  text-align: left;
 }
 .container-35{
  /* align-items: flex-start; */
  align-items: center;
  text-align: center;
  margin-top: 0;
  width: 400px;
  /* width: 90%; */
 }

.container-35 p {
  width: 100%;
  text-align: left;
  margin-bottom: 18px;
}
.orbit-container{
  width: 449.635px;
  height: 700px;
  margin-top: -5%;
}
.orbit{
  
  width: 360px;
  height: 370px;
}
.orbit-ball{
  top: 13%;
  left: 0;
  /* transform: translate(-50%, -50%); */
  display: none;
}


 
 */

/* SIXTH PART */

.orbit-2{
  width: 180px;
  height: 180px;
}





/* SEVENTH PART */
.container-37{
  margin-top: 10%;
  width: 90%;
}

.container-37 h2{
  font-size: 36px;
  line-height: 44px;
}
.watermarks{
  margin: 10%;
  gap: 120px;
  flex-direction: column;
}
.watermark-container{
  gap: 20%;
 
}
.watermark-text{
flex-direction: column;
}
.watermark{
  /* font-size: 120px;
  line-height: 100px; */
  display: none;
}
.watermark-text h2{
  font-size: 24px;
  line-height: 32px;
  margin-left: -20px;
  text-align: center;
}
.watermark-text p{
  margin-left: -20px;
  text-align: center;
  
}



/* FOOTER */

.icons{
  margin-left: 5%;
  margin-right: 5%;
}
.footer-container{
  display: flex;
  align-items: center;
 flex-wrap: wrap;
 padding: 20px;
 
  justify-content: space-between;
}
.fifth-sec, .second-sec , .third-sec , .fouth-sec , .fifth-sec{
  text-align: center;
  margin-bottom: 10px;
}
.first-links , .second-links{
  flex-direction: column;
  gap: 10px;
  display: flex;
}
.last-footer{
  /* display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; */
  display: none;
}


}

